html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #444;
}

div {
  /*border: 3px solid red;*/
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1,
h2,
h3,
p {
  line-height: 1.4;
  display: block;
  margin-bottom: 0.5rem;
}

h1 {
  line-height: normal;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  color: #666;
}

a:hover {
  cursor: pointer;
  color: dodgerblue;
  transition: color, 2s, ease-in, 0.3s;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  /*width: 1200px;*/
  padding-left: 1.5rem;
}

header {
  height: 4rem;
  width: 100%;
  background-color: white;
  opacity: 0.95;
  position: fixed;
  z-index: 10;
}

.logo {
  flex-grow: 1;
}

.logo img {
  margin-left: 1.5rem;
  margin-right: 0.25rem;
}

.colmar {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
}

.academy {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: silver;
}

nav li {
  display: inline-block;
  padding: 0.5rem;
}

nav li a {
  color: #666;
}

nav {
  margin-right: 3rem;
}

.banner {
  position: relative;
  top: 4rem;
  background-color: Gainsboro;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner img {
  width: 60%;
  margin-right: 2.5rem;
  height: auto;
}

.banner .title {
  width: 25%;
}

.start-btn {
  background-color: #444;
  justify-content: center;
  margin: 2rem auto;
  padding: 0.5rem;
  color: lightgray;
}

.main-section {
  width: 60%;
  flex-direction: column;
  margin-right: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-section img {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.caption {
  font-weight: bold;
}

#campus {
  position: relative;
  top: 4rem;
  align-items: flex-start;
}

.campus-info {
  width: 480px;
  flex-direction: column;
  margin-top: 1rem;
}

.campus-info .item {
  padding-right: 0.5rem;
}

.campus-info img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.read-more a {
  color: dodgerblue;
}

.lecture {
  background-color: Gainsboro;
}
