html {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  color: dimgray;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  width: 960px;
  padding-left: 1.5rem;
}

header {
  height: 4rem;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
}

.logo {
  flex-grow: 1;
}

.colmar {
  font-weight: bold;
  color: black;
}

.academy {
  color: lightgray;
}

nav {
  align-items: flex-end;
}

nav li{
  display: inline-block;
  padding: 0.5rem;
  color: dimgray;
}

.main-content {
  position: relative;
  top: 4rem;
}
